header .header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row; }

header .titulo {
  color: #362424;
  background-color: bisque;
  font-size: 40px;
  transform: translate(10px, 10px); }

header .navbar {
  display: flex;
  justify-content: end;
  gap: 20px;
  list-style: none;
  align-items: center; }

header .barrainicio {
  color: #000303;
  font-size: large;
  font-weight: 200;
  text-decoration: none;
  font-family: Arial; }

@media screen and (max-width: 950px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    grid-area: header; } }

body {
  background-image: linear-gradient(to bottom, #3e5474, #007b9b, #00a2a2, #44c589, #b7de62);
  background-size: cover; }

@media screen and (max-width: 950px) {
  body {
    background-image: linear-gradient(to bottom, #3e5474, #007b9b, #00a2a2, #44c589, #b7de62);
    background-size: cover; } }

@media screen and (max-width: 950px) {
  .footer {
    grid-area: footer; } }

main .subtitulo {
  color: #191929; }

main .font {
  font-style: oblique; }

main .platos {
  display: flex;
  flex-direction: row; }

.font_plato, .font_plato--pescados, .font_plato--vegano {
  font-size: 1rem;
  font-style: italic; }

.font_plato--pescados {
  font-size: 1rem;
  font-family: 'Times New Roman'; }

.font_plato--vegano {
  font-size: 1rem;
  font-family: Helvetica; }

.fotos_index {
  height: 200px;
  width: 200px; }

@media screen and (max-width: 950px) {
  .main {
    grid-area: main; } }

p .parrafo {
  font-family: Georgia; }
