body{
        background-image: linear-gradient(to bottom, #3e5474, #007b9b, #00a2a2, #44c589, #b7de62);
        background-size: cover;  
         
          
        
    }

@media screen and (max-width: 950px) {
    body{
        background-image: linear-gradient(to bottom, #3e5474, #007b9b, #00a2a2, #44c589, #b7de62);
        background-size: cover;  
        
          
        
    }
    }